---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: true
  show_excerpt: true
  show_info: true
---
<div class="layout--home">
  {%- include paginator.html show_count=false -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>
<!-- back-top -->
<div id="back-top">
  <a href="#" data-toggle="tooltip" data-placement="top" title="top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </a>
</div>
<script>
    $('#back-top').hide();
    $(document).ready(function () {
    $(window).scroll(function () {
    if ($(this).scrollTop() > 250) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 800);
    return false;
  });
});
</script>
{{ content }}
